label {
  margin: 0 0 10px 0;
}

button {
  width: 100%;
  margin-top: 10px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #007bff !important;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box2 .img1 {
  width: 100%;
  height: 100vh;
}

form {
  width: 90%;
}

.fb-login-button button {
  margin-top: 10px;
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.g_id_signin {
  margin-top: 10px;
  margin: auto;
  width: 50%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}


.container {
  text-align: center;
  margin-top: 10px;
}

.container a {
  font-size: 20px;
}

.container p {
  font-size: 20px;
  margin: auto;
  margin-bottom: 7px;
}

.container .icons i {
  color: #007bff;
  font-size: 25px;
}


.link-button {
  text-decoration: none;
}